.App {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  text-align: center;
}

html,
body {
  overflow: hidden;
  width: 100vw;
}

.content {
  margin-right: 0;
  overflow: auto;
}
