.App {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  text-align: center;
}

html,
body {
  overflow: hidden;
}

.content {
  margin-right: 0;
  overflow-y: hidden !important;
}
